.post-form {
  .component-wrapper {
    position: relative;
    margin: 0;
    width: 35%;
    float: left;
    height: 300px;
    border: 4px solid #1976d2;
    border-radius: 5%/10%;
    overflow: hidden;
    &:nth-child(even) {
      margin: 1% 13.5% 1% 1.5%;
    }
    &:nth-child(odd) {
      margin: 1% 1.5% 1% 13.5%;
    }
    h3 {
      text-align: center;
      font-family: 'Indie Flower', cursive;
      color: #1976d2;
      width: 100%;
      margin-top: 10px;
    }
    .content {
      margin-top: 2%;
    }
    .wrapper-close {
      position: absolute;
      top: -20px;
      right: -20px;
      background-color: #1976d2;
      width: 60px;
      height: 60px;
      border-radius: 50%/50%;
      a {
        position: absolute;
        top: 27px;
        right: 30px;
        font-size: 20px;
        color: white;
        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
        &:hover {
          color: red;
        }
      }
    }
  }
  &.dropzone {
    position: relative;
    height: 70%;
    &--custom-pic {
      height: 50%;
    }
    div.dropzone {
      position: absolute;
      text-align: center;
      font-family: 'Indie Flower', cursive;
      color: #1976d2;
      padding: 20px;
      width: 100%;
      height: 100%;
      font-size: 20px;
      z-index: 10;
      &--isActive {
        background-color: rgba(0, 0, 200, 0.3);
        color: white;
      }
      &.transparent-dropzone {
        border: none;
        background-color: transparent;
        color: transparent;
      }
      &.error {
        color: red;
      }
      outline: none;
    }
    img {
      z-index: 9;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-width: 90%;
      max-height: 80%;
      width: auto;
      height: auto;
    }
  }
  &__custom-elements {
    position: fixed;
    width: 100px;
    height: 200px;
    border-radius: 50%/25%;
    background-color: #1976d2;
    top: 200px;
    right: 100px;
    overflow: hidden;
    .element {
      position: relative;
      height: 100px;
      width: 100%;
      border-top: 1px solid white;
      &:nth-child(1) {
        border: none;
      }
      &:nth-child(2) {
        a.fa {
          top: 32px;
          left: 35px;
        }
      }
      background-color: #1976d2;
      a.fa {
        font-size: 35px;
        color: white;
        position: absolute;
        z-index: 12;
        top: 37px;
        left: 33px;
        transition: color 0.2s;

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
      .clickable {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 13;
        width: 100%;
        height: 100;
        &:hover {
          & + a.fa {
            color: orange;
          }
        }
      }
    }
  }
}

.success-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 2%;
  padding-top: 15%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  width: 100%;
  font-size: 40px;
  .title {
    color: #3a9b22;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
}
