.contact-page {
  height: 100%;
  width: 100&;
  .left-side {
    padding-top: 30px;
    height: 100%;
    width: 50%;
    float: left;
    .input-holder {
      height: 100px;
      &.content-input {
        height: 200px;
      }
    }
  }
  .right-side {
    padding-top: 30px;
    height: 100%;
    width: 50%;
    padding: 9% 5%;
    float: right;
    h3 {
      font-family: 'Indie Flower', cursive;
      font-size: 30px;
      color: #1976d2;
    }
  }
}
