.input-holder {
  position: relative;
  margin: 0 5%;
  width: 90%;
  height: 80%;
  &.title-input {
    height: 22%;
  }
  &.img-caption {
    margin: 0;
    margin-top: 10%;
    position: absolute;
    top: 90%;
    height: 50%;
    left: 10%;
    width: 80%;
    .input {
      height: 40px;
      font-size: 14px;
      width: 100%;
    }
  }
  .input {
    height: 50px;
    font-size: 16px;
    padding: 13px 15px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 300px;
    outline: none;
    &--title {
      width: 100%;
    }
    &--content {
      width: 100%;
      height: 200px;
      &.smaller {
        height: 170px;
      }
    }
  }

  .input:not(:placeholder-shown).input:not(:focus).input:not(.textarea),
  .input.textarea.filled:not(:focus) {
    border: 1px solid grey;
    & + .placeholder {
      transform: scale(0.75) translateY(-32px) translateX(-20px);
      color: grey;
      &--caption {
        transform: scale(0.75) translateY(-32px) translateX(-50px);
      }
    }
  }

  .input:not(:placeholder-shown).input:not(:focus).input:not(:valid) {
    border: 1px solid red;
    & + .placeholder {
      transform: scale(0.75) translateY(-39px) translateX(-5px);
      color: red;
    }
    & + .placeholder + .error {
      visibility: visible;
    }
  }

  .input:focus {
    border-color: #1976d2;
    & + .placeholder {
      transform: scale(0.75) translateY(-32px) translateX(-20px);
      color: #1976d2;
    }
  }
  .input--caption {
    &:focus {
      & + .placeholder {
        transform: scale(0.75) translateY(-32px) translateX(-50px);
      }
    }
  }

  .placeholder {
    position: absolute;
    top: 12px;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: grey;
    font-size: 16px;
    &--caption {
      top: 8px;
    }
  }

  .error {
    color: red;
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
  }
}
