.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.4);
  .loader-text {
    width: 100%;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #1976d2;
    margin-top: 18%;
    font-size: 40px;
    animation: blinker 1.5s linear infinite;
  }

  .loader {
    margin: 5% auto;
    &--circularSquare {
      $d: 2.25em;
      &.small {
        $d: 1.25em;
      }
      $ic: #9b59b6;
      $tlc: #2ecc71;
      $trc: #e74c3c;
      $blc: #3498db;
      $brc: #f1c40f;

      width: 0;
      height: 0;
      box-shadow: -$d/2 (-$d/2) 0 $d/2 $ic, $d/2 (-$d/2) 0 $d/2 $ic,
        -$d/2 $d/2 0 $d/2 $ic, $d/2 $d/2 0 $d/2 $ic;
      animation: circSquare 1.5s ease-in-out infinite;

      @at-root {
        @keyframes circSquare {
          50% {
            width: $d;
            height: $d;
            border-radius: 50%;
            transform: rotate(0.5turn);
            box-shadow: -2 * $d 0 0 $tlc, 2 * $d 0 0 $trc, -2 * $d 0 0 $blc,
              2 * $d 0 0 $brc;
          }
          80%,
          100% {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
  &.small {
    position: absolute;
    top: 40%;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
