.posts-list {
  &__list {
    width: 70%;
    margin: 3% 15%;
    padding-bottom: 30px;
    &__list-element {
      cursor: pointer;
      color: black;
      border: 4px solid #1976d2;
      border-radius: 10%/15%;
      text-decoration: none;
      text-align: center;
      width: 30%;
      margin: 1%;
      height: 310px;
      float: left;
      position: relative;
      transition: all 0.5s;
      &__img {
        width: 80%;
        height: auto;
        max-height: 180px;
        border-radius: 3%;
        position: absolute;
        top: 60px;
        left: 10%;
      }
      &__title {
        font-family: 'Indie Flower', cursive;
        width: 90%;
        margin: 1% 5%;
      }
      &__subTitle {
        margin: 0;
      }
      .sub-data {
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 5%;
      }
      &:focus,
      &:hover {
        outline: none;
        text-decoration: none;
      }
      &.loaded {
        &:hover {
          border: 4px solid #3a9b22;
          box-shadow: 0px 15px 20px rgba(58, 155, 34, 0.3);
        }
      }
    }
  }
}
