.posts-list__main-post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: white;
  }
  .content {
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar {
      width: 0px;
    }
    background-color: white;
    position: fixed;
    overflow-y: scroll;
    height: 80%;
    width: 80%;
    top: 8%;
    left: 10%;
    border: 4px solid #1976d2;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 2%/3.5%;

    .customs {
      list-style-type: none;
      width: 100%;
      padding: 0 200px;
      li {
        width: 100%;
      }
      .img {
        img {
          display: block;
          max-width: 50%;
          height: auto;
          border-radius: 5%;
          margin: 1% auto;
        }
        h6 {
          display: block;
          margin-top: 4px;
          font-family: 'Indie Flower', cursive;
          text-align: center;
          width: 100%;
          font-size: 20px;
        }
      }
      .p {
        p {
          text-indent: 50px;
        }
      }
    }
    .comments {
      list-style-type: none;
      width: 100%;
      .comment {
        padding: 5px;
        border: 2px solid #1976d2;
        border-radius: 8%/8%;
        display: block;
        width: 70%;
        margin: 1% 15%;
        .comment-author {
          font-family: 'Indie Flower', cursive;
          color: #1976d2;
          a {
            margin-right: 5px;
          }
        }
        .comment-date {
          opacity: 0.8;
        }
      }
    }
    .info {
      display: block;
      width: 100%;
      text-align: center;
    }
    .close-button {
      cursor: pointer;
      position: absolute;
      z-index: 160;
      top: 29.5px;
      right: 29.5px;
      background-color: #1976d2;
      width: 40px;
      height: 40px;
      border-radius: 50%/50%;
      a {
        transition: all 0.5s;
        color: white;
        position: absolute;
        top: 8px;
        right: 9px;
        font-size: 25px;
        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
        &:hover {
          color: red;
        }
      }

      &:hover {
        a {
          color: red;
        }
      }
    }
  }
  h4,
  h5 {
    display: block;
    margin-top: 1%;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }
  h5 {
    font-size: 30px;
  }
  img {
    display: block;
    max-width: 60%;
    height: auto;
    border-radius: 5%;
    margin: 1% auto;
  }
  .paragraph {
    text-indent: 50px;
    padding: 0 200px;
  }
  .scroll-sign {
    position: fixed;
    color: #1976d2 !important;
    right: 200px;
    top: 440px;
    font-size: 30px;
    z-index: 200;
    &.scroll-up {
      transform: rotate(180deg);
      top: 410px;
    }
  }
  .add-comment {
    position: static;
    margin: 0 15%;
    width: 70%;
    margin-top: 2%;
    .input-holder {
      display: static;
      margin: 0 15%;
      width: 70%;
      height: 100px;
      textarea {
        height: 100px;
      }
    }
  }
}
