.button-wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.normal {
    width: 100%;
  }
}

.btn-send {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  cursor: pointer;
  outline: 0;
  &:focus {
    outline: 0;
  }
}
.btn-send.active {
  color: #3a9b22;
  box-shadow: 0px 15px 20px rgba(58, 155, 34, 0.3);
}
.btn-send.error {
  color: #a02121;
  box-shadow: 0px 15px 20px rgba(160, 33, 33, 0.3);
}

.btn-send.active:hover {
  background-color: #3a9b22;
  box-shadow: 0px 15px 20px rgba(58, 155, 34, 0.5);
  color: #fff;
  transform: translateY(-7px);
}
