.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 0.3s linear;
}
.fade-enter {
  opacity: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 0.3s linear;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0;
  transition: all 0.3s linear;
}
