@import 'navbar';
@import 'add-form';
@import 'input';
@import 'submit-button';
@import 'contact';
@import 'loader';
@import 'transition';
@import 'posts-list';
@import 'post';

main.main {
  width: 100%;
  section.content {
    width: 90%;
    margin: 3% 5%;
  }
  .main-title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width: 100%;
    font-size: 46px;
    color: #1976d2;
    font-weight: bold;
    z-index: 500;
  }
}

div.section-title {
  margin-top: 1%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  width: 100%;
  font-size: 36px;
}

::-webkit-scrollbar {
  opacity: 0;
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.6;
  background: #1976d2;
  border-radius: 10px;
}
button {
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
